# 1. Python specific
__pycache__/
*.py[cod]
venv/
.env

# 2. Project artifacts (Không commit file output)
*.mp3
*.wav
output/*

# 3. System specific
.DS_Store
Thumbs.db

# 4. IDE specific (VS Code, PyCharm)
.vscode/
.idea/
